.task-container{
    background-color: #444;
    margin: 8px 0;
    padding: 8px 20px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color: #eee;
    align-items: center;
    cursor: pointer;
}

h1{
    color: white;
}

.remove-task-button{
    background-color:#444;
    border: none;
    font-size: 16px;
    color: chartreuse;
    cursor: pointer;
}

.remove-task-button:hover{
    color: rgba(84, 156, 12, 0.863);
    transition: 0.2s;
}